{% extends 'base.html' %}
{% load static %}

{% block title %}Configure your Audi{% endblock %}

{% block content %}
<section class="section">
    <h1 class="section-title">Configure your {{model}}</h1>
        <section class="container split">
        <div>
        <label class="sln-field-label">
            <form method="post" action="">
            {% csrf_token %}
            Engine: 
            <select class="sln-field" name="engine">
            {% for engine in engines %}
            <option>{{engine}}</option>
            {% endfor %}
            </select>
            <br></br>
            Equipment: <select class="sln-field" name="equipment">
               {% for eq in equipment %}
               <option>{{eq.equipment}}</option>
               {% endfor %} 
            </select>
            <br></br>
            Color: <select class="sln-field" name="color">
            {% for color in colors %}
            <option value="{{color.color}}">{{color.color}}</option>
            {% endfor %}
            </select>
            <br></br>
            <button type="submit" class="btn btn-primary">Check</button>
            <br></br>
            </form>
        </label>
        <h1>Total price: {{price}} $</h1>
        </div>
        <div>
            <label class="sln-field-label">
                Engine: {{current_engine}} | Equipment: {{current_equipment}} | Color: {{current_color}}
            </label>
            <img src="/static/images/{{image}}", width="400">
        </div>
    </section>
</section>
{% endblock %}